<!DOCTYPE html>
<html>
    <head>
        <title>BBC and SKY top news</title>
        <style>
            body {
                font-family: Helvetica, Arial;
            }

            section {
                width: 50%;
                float: left;
            }

            h1 {
                text-align: center;
            }

            h2 {
                font-size: 1.2em;
            }

            article {
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <section>
            <h1>BBC News</h1>
            <% for (var i=0; i<bbc.length; i++) { %>
                <article>
                    <a href="<%= bbc[i].link %>"><h2> <%= i+1 %>. <%= bbc[i].title %> </h2></a>
                    <p> <%= bbc[i].description %> </p>
                </article>
            <% } %>
        </section>
        <section>
            <h1>SKY News</h1>
            <% for (var i=0; i<sky.length; i++) { %>
                <article>
                    <a href="<%= sky[i].link %>"><h2> <%= i+1 %>. <%= sky[i].title %> </h2></a>
                    <p> <%= bbc[i].description %> </p>
                </article>
            <% } %>
        </section>
    </body>
</html>
